<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wajahatkarim3.zocdoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ZocdocApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZocDoc.NoActionBar">
        <activity android:name=".screens.ChatActivity"></activity>
        <activity
            android:name=".screens.DoctorMainActivity"
            android:theme="@style/Theme.ZocDoc.NoActionBar" />
        <activity
            android:name=".screens.SignupActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.ZocDoc" />
        <activity
            android:name=".screens.LoginActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.ZocDoc" />
        <activity
            android:name=".screens.DoctorDetailsActivity"
            android:theme="@style/Theme.ZocDoc" />
        <activity
            android:name=".screens.DoctorsSearchActivity"
            android:theme="@style/Theme.ZocDoc" />
        <activity
            android:name=".screens.SplashActivity"
            android:theme="@style/Theme.ZocDoc.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MainActivity"
            android:theme="@style/Theme.ZocDoc.NoActionBar" />
    </application>

</manifest>